@import url('https://fonts.googleapis.com/css?family=Exo');
.body {
    font-family: 'Exo', sans-serif;
}

a span {
  float: right;
}

/* .form-control {
    font-size: 12px;
} */

/* #task-description {
  height: 100px;
} */
/* #task-form {
    height:200px;
} */
